.illustrationIcon {
  position: relative;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  object-fit: cover;
}
.b,
.div {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 230px;
}
.div {
  font-size: var(--small-normal-regular-size);
  line-height: 20px;
  width: 194px;
}
.text {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.text1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 29px);
  line-height: 16px;
  font-weight: 500;
  color: white;
}
.controlsButtons {
  position: relative;
  border-radius: var(--br-lg);
  background-color: #006400;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  font-size: var(--regular-none-regular-size);
  color: var(--color-white);
}
.content,
.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1 {
  gap: 24px;
}
.content {
  position: absolute;
  height: calc(100% - 180px);
  width: 100%;
  top: 75px;
  right: 0;
  bottom: 105px;
  left: 0;
  padding: 131px 62px;
  box-sizing: border-box;
}
.rightActionable,
.title {
  position: auto;
  top: calc(50% - 9px);
  line-height: 18px;
  color: #006400;
}
.title {
  left: calc(50% - 28.5px);
}
.rightActionable {
  right: 24px;
  font-weight: 500;
  color: var(--primary-base);
  text-align: right;
  display: none;
}
.leftActionableIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.barsNavBarsStandard {
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 48px;
}

.analysispage,
.barsTabBarIconOnly {
  /* background-color: var(--color-white); */
  width: 100%;
}
/* .barsTabBarIcon {
  position: absolute;
  right: 0;
  bottom: 34.08px;
  left: 0;
  box-shadow: 0-1px 1px rgba(20, 20, 20, 0.02), 0-2px 8px rgba(20, 20, 20, 0.04);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 390px;
}
.partialsTabBarIconOnly {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 56px;
  width: 130px;
  height: 24px;
  margin: auto;
  text-align: center;
} */
.partialsTabBarIconOnly {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  /* width: 24px;
  height: 24px; */
  margin: auto;
}
.icons {
  width: 24px;
  height: 24px;
}
.TabBar {
  position: absolute;
  right: 0;
  bottom: 2.13rem;
  left: 0;
  box-shadow: 0-1px 1px rgba(20, 20, 20, 0.02), 0-2px 8px rgba(20, 20, 20, 0.04);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.analysispage {
  position: relative;
  /* border-radius: var(--br-md); */
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--large-normal-bold-size);
  /* color: var(--ink-darkest); */
  font-family: var(--small-none-regular);
  background-color: white;
}
